/* FRONT PAGE STYLES */
.hero-video{
    position: relative;
}
.fold-mobile{
    background-image: url(../images/gogalapagos-mobile-hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-mobile-content{
    transform: translateZ(1px);
}
.hero-mobile-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.hero-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(36, 36, 36, 0.3);
    z-index: 99;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.home-hero-title{
    text-align: center;
    margin: auto;
    color: white;
    width: 100%;
    margin-top: 45vh;
    margin-bottom: 28px;
    font-size: 80px;
}
@media screen and (max-width: 1024px) and (orientation: landscape){
    .home-hero-title{
        font-size: 60px;
    }
}
.home-hero-slogan{
    text-align: center;
    font-size: 28px;
    color: white;
}
.home-hero-title, .home-hero-slogan{
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
}
.video-placeholer{
    height: 100vh;
    width: 100vw;
    display: flex;
}
div section h1{
    margin: 0;
    font-size: 80px;
}
label.field {
    margin-top: -10px;
    border-radius: 2px;
    color: #d1d1d1;
    display: block;
    max-width: 200px;
    padding: 8px;
    opacity: 0;
    position: relative;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    z-index: 1;
}
label.field span {
    color: inherit;
    display: block;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    left: 9px;
    pointer-events: none;
    position: absolute;
    top: 32px;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transition-property: color, font-size, top;
    transition-property: color, font-size, top;
    z-index: 1;
}
label.field span.required::after {
    color: inherit;
    content: "*";
    display: block;
    height: 20px;
    left: -20px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 20px;
}
.error label.field span {
    color: #F02318;
}
label.field .psuedo_select {
    background: rgba(255, 255, 255, 0);
    position: relative;
    border-color: #666;
    border-style: solid;
    border-width: 0 0 2px 0;
    color: #f3f3f3;
    cursor: pointer;
    font-size: 20px;
    height: 24px;
    line-height: 24px;
    margin: 24px 32px 0 0;
    min-width: 180px;
    padding-top: 24px;
    outline: 0;
    z-index: 1;
}
label.field .psuedo_select::after {
    background: url("data:image/svg+xml;utf8,<svg fill='#666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'> <path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/> <path d='M0-.75h24v24H0z' fill='none'/> </svg>"), no-repeat;
    content: "";
    height: 24px;
    width: 24px;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition-property: background;
    transition-property: background;
}
label.field .psuedo_select .selected {
    height: 24px;
    left: 1px;
    line-height: 24px;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(24px);
    transform: translateY(24px);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    will-change: transform;
}
label.field .psuedo_select ul {
    background: rgba(41, 41, 41, 0.63);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    display: block;
    height: 0;
    list-style: none;
    margin-top: 2px;
    opacity: 0;
    overflow: hidden;
    padding: 0 1px;
    pointer-events: none;
    -webkit-transition-property: height, opacity;
    transition-property: height, opacity;
    width: 100%;
    z-index: 2;
}
label.field .psuedo_select ul li {
    height: 32px;
    padding: 8px 4px;
}
label.field .deselect {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
}
label.field.focused {
    color: #007BED;
}
label.field.focused .psuedo_select {
    border-color: #007BED;
}
label.field.focused .psuedo_select::after {
    background: url("data:image/svg+xml;utf8,<svg fill='#007BED' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'> <path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/> <path d='M0-.75h24v24H0z' fill='none'/> </svg>"), no-repeat;
}
label.field.focused .psuedo_select ul {
    opacity: 1;
    pointer-events: all;
}
.slide h2{
    margin: auto;
    font-size: 40px;
}
.section1{
    background: gray;
    color: white;
}
.section2{
    background: #4b3d30;
    color: white;
}
.section3{
    background: #465538;
    color: white;
}
.section4{
    background: #44304a;
    color: white;
}
.section5{
    background: #3d6464;
    color: white;
}
.video-placeholer{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.hero-video{
    margin: auto;
    z-index: 1;
    width: 100%;
    transform: translateX(50%) translateX(-50%);
}
@media screen and (max-width: 1024px) and (orientation: landscape){
    .hero-video{
        height: auto;
        width: auto;
    }
}
/* HERO FILTER FORM */
.filter-transparent-box{
    padding: 40px 80px;
    background-color: rgba(128, 128, 128, 0.3);
    margin: auto;
    display: block;
}
@media screen and (max-width: 1024px) and (orientation: landscape){
    .filter-transparent-box{
        padding: 20px 25px;
    }
}
.filter-transparent-box ul li{
    position: relative;
}
.filter-transparent-box ul li label{
    position: absolute;
    color: white;
    top: 10px;
    left: 11px;
    font-weight: 400;
    cursor: pointer;
    transition: top ease-in .2s;
}
.filter-transparent-box ul li label.infocus{
    top: -10px;
}
.filter-transparent-box ul li select{
    width: 250px;
    margin-right: 8px;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, .7);
    background: transparent;
    height: 42px;
    cursor: pointer;
}
.hero-filter-btn{
    border-radius: 0px;
    border: none;
    padding: 12px 17px;
    background: #ffc400;
    color: #404040;
    transition: all ease-in .2s;
    text-transform: uppercase;
}
.hero-filter-btn:hover{
    color: #404040;
    background: #d5a400;
}
/* GET IN LOVE SECTION */
.get-in-love{
    background-image: url(../images/get-in-love-default-background.jpg); 
    background-position: bottom center;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 3px black;
}
.get-in-love-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,.7) 0%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.slider-container{
    transform: translateZ(1px);
}
.home-get-in-love-separator{
    border-bottom: 2px solid white;
    display: block;
    width: 180px;
    margin: 36px auto;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.home-get-in-love-title{
    font-size: 48px;
    max-width: 480px;
    margin: auto;
}
.home-get-in-love-paragraph{
    max-width: 65vw;
    margin: 0 auto;
    margin-bottom: 36px;
    font-size: 24px;
}
.home-get-in-love-separator,.home-get-in-love-title,.home-get-in-love-paragraph{
    z-index: 999;
}
.get-in-love-controls{
    width: 100%;
    padding: 36px 0;
    position: absolute;
    bottom: 0;
    z-index: 9;
    display: flex;
}
.get-in-love-controls ul{
    list-style: none;
    margin: auto;
}
.get-in-love-controls ul li{
    display: inline-block;
}
.get-in-love-controls ul li span{
    border: 2px solid white;
    border-radius: 50%;
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin-right: 45px;
    position: relative;
    background-color: transparent;
    transition: background ease-in .2s;
}
.get-in-love-controls ul li span:hover, .get-in-love-controls ul li.active span{
    background-color: rgba(255, 255, 255, 0.7);
}
.get-in-love-controls ul li span:after{
    content:'';
    position: absolute;
    width: 50px;
    border-top: 2px solid white;
    top: 2px;
    left: 8px;
}
.get-in-love-controls ul li:last-child span:after{
    display: none;
}
.home-get-in-love-slide{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.slide-experience{
    background-image: url(../images/get-in-love-default-background.jpg);
}
.slide-life{
    background-image: url(../images/get-in-love-galapagos-life.jpg);
}
.slide-emotions{
    background-image: url(../images/get-in-love-galapagos-emotions.jpg);
}
.slide-enjoy-our-cruises{
    background-image: url(../images/get-in-love-galapagos-join-us.jpg);
}
.slide-getinvolved{
    background-image: url(../images/get-in-love-galapagos-get-involved.jpg);
}
@media screen and (max-width: 767px) and (orientation: portrait){
    .home-hero-title{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 60px;
    }
    .home-hero-slogan{
        font-size: 22px;
    }
    .hero-mobile-request-btn{
        margin-top: 72px;
    }
}
/* OFFERS AND NEWS SECTION */
.offers-and-news{
    position: relative;
}
.section-ribbon{
    position: absolute;
    top: 100px;
    left: 0;
    padding: 10px 20px;
    background: #008EA1;
    *background: #f00471;
    color: white;
    text-transform: uppercase;
    font-family: 'Didact Gothic', sans-serif;
    z-index: 999;
    box-shadow: 0px 13px 23px rgba(0, 0, 0, .3);
}
@media screen and (max-width: 1024px) and (orientation: portrait){
    .section-ribbon{
        top: 0px;
        font-size: 20px;
    }
}
.offers-and-news .carousel{
    margin: 0px;
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.offers-and-news .carousel img{
    /*    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: auto;*/
}
.offers-and-news .carousel img.mobile-image{
    /*    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);*/
}
.product-carousel-control{
    position: absolute;
    bottom: 20px;
    color: white;
}
.product-carousel-control.left{
    left: 20px;
}
.product-carousel-control.right{
    left: 50px;
}
.product-carousel-control:hover{
    color: #008EA1;
}
@media screen and (max-width: 1024px) and (orientation: landscape){
    .offers-and-news .carousel img{
        transform: scale(1.5);
    }
}
.offers-and-news .carousel .gg-post-type{
    position: absolute;
    top: 0;
}
.offers-and-news .carousel .gg-post-type a{
    color: white;
    text-decoration: none;
}
.offers-and-news .carousel .alter-title{
    padding-top: 75vh;
    font-size: 40px;
    margin: 0px;
    margin-left: 60px;
    max-width: 500px;
    line-height: 1.1;
    display: block;
    color: white;
    opacity: 1;
    transition: opacity ease-out .2s; 
}
@media screen and (max-width: 1024px) and (orientation: landscape){
    .offers-and-news .carousel .alter-title{
        font-size: 28px;
        max-width: 320px;
        margin-left: 40px;
    }
}
.gg-post-type{
    position: relative;
    height: 100vh;
    width: 100%;
}
.gg-post-type .more-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    padding: 80px;
    padding-top: 25vh;
    transform: translateX(100vw);
    transition: transform ease-in .2s;  
    background-color: rgba(38, 63, 96, 0.55);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMyNjNmNjAiIHN0b3Atb3BhY2l0eT0iMC40IiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjMjYzZjYwIiBzdG9wLW9wYWNpdHk9IjAuOCIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMjYzZjYwIiBzdG9wLW9wYWNpdHk9IjAuMiIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 100% 100%, 0% 0%,color-stop(0, rgba(38, 63, 96, 0.4)),color-stop(0.5, rgba(38, 63, 96, 0.8)),color-stop(1, rgba(38, 63, 96, 0.2)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(bottom right,rgba(38, 63, 96, 0.4) 0%,rgba(38, 63, 96, 0.8) 50%,rgba(38, 63, 96, 0.2) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to top left,rgba(38, 63, 96, 0.4) 0%,rgba(38, 63, 96, 0.8) 50%,rgba(38, 63, 96, 0.2) 100%);
    background-image: -ms-repeating-linear-gradient(bottom right,rgba(38, 63, 96, 0.4) 0%,rgba(38, 63, 96, 0.8) 50%,rgba(38, 63, 96, 0.2) 100%);
}
.gg-post-type:hover .alter-title{
    opacity: 0;
}
.gg-post-type:hover .more-content{
    transform: translateX(0);
}
.gg-post-type .more-content h2{
    font-size: 40px;
    max-width: 500px;
    margin-left: 0px;
}
@media screen and (max-width: 1024px) and (orientation: landscape){
    .gg-post-type .more-content{
        padding: 40px;
        padding-top: 50vh;
    }
    .gg-post-type .more-content h2{
        font-size: 28px;
        max-width: 320px;
    }
}
.offers-and-news-hover-separator{
    display: block;
    width: 25%;
    margin: 18px 0;
    border: 2px solid white;
}
.offers-and-news .carousel .gg-post-type .home-offers-btn, .home-blog-article .more-content .home-offers-btn{
    color: #008E92;
    text-decoration: none;
    transition: color ease-in .1s;
}
.offers-and-news .carousel .gg-post-type .home-offers-btn:hover, .home-blog-article .more-content .home-offers-btn:hover{
    color: orange;
}
.home-blog-section{
}
.home-blog-article{
    height: 50vh;
    position: relative;
    overflow: hidden;
}
.home-blog-article .alter-title{
    padding-top: 75%;
    font-size: 20px;
    margin: 0px;
    margin-left: 40px;
    max-width: 350px;
    position: absolute; 
    color: white;
    text-shadow: 1px 2px 5px rgba(0,0,0,.4);
    opacity: 1;
    transition: opacity ease-out .2s;
}
.home-blog-article:hover .alter-title{
    opacity: 0;
}
.home-blog-article img{
    width: 100%;
    height: auto;
    position: absolute;
}
@media screen and (max-width: 1024px) and (orientation: landscape){
    .home-blog-article img{
        width: auto;
        top: 15%;
        left: 0;
        transform: scale(1.2) translateX(0%) translateY(-10%);
    }
}
.home-blog-article .more-content{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    padding-top: 60px;
    color: white;
    transition: transform ease-out .2s;
    *background: rgba(38, 63, 96, 0.8);
    background-color: rgba(38, 63, 96, 0.55);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMyNjNmNjAiIHN0b3Atb3BhY2l0eT0iMC40IiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjMjYzZjYwIiBzdG9wLW9wYWNpdHk9IjAuOCIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMjYzZjYwIiBzdG9wLW9wYWNpdHk9IjAuMiIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 100% 100%, 0% 0%,color-stop(0, rgba(38, 63, 96, 0.4)),color-stop(0.5, rgba(38, 63, 96, 0.8)),color-stop(1, rgba(38, 63, 96, 0.2)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(bottom right,rgba(38, 63, 96, 0.4) 0%,rgba(38, 63, 96, 0.8) 50%,rgba(38, 63, 96, 0.2) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to top left,rgba(38, 63, 96, 0.4) 0%,rgba(38, 63, 96, 0.8) 50%,rgba(38, 63, 96, 0.2) 100%);
    background-image: -ms-repeating-linear-gradient(bottom right,rgba(38, 63, 96, 0.4) 0%,rgba(38, 63, 96, 0.8) 50%,rgba(38, 63, 96, 0.2) 100%);
}
.home-blog-article .more-content.upper-post{
    transform: translateY(100%);
}
.home-blog-article .more-content.lower-post{
    transform: translateY(-100%);
}
.home-blog-article:hover .more-content{
    transform: translateY(0);
}
.home-blog-article .more-content a{
    color: white;
    text-decoration: none;
}
.say-blog{
    display: block;
    margin-top: 36px;
}
@media screen and (max-width: 1024px) and (orientation: landscape){
    .home-blog-article .alter-title{
        margin-left: 30px;
        line-height: 1.1;
    }
    .home-blog-article .more-content{
        padding: 30px;
    }
    .home-blog-article .more-content h2{
        font-size: 18px;
    }
}
/*-------------*/
/* SHIP SECTION */
.ship-placeholder{
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
/*
.ship-placeholder img{
width: 100%;
height: 100%;
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(    -50%);
filter: brightness(.5) sepia(.8);
-webkit-filter: brightness(.5) sepia(.8);
transition: filter ease-in .2s;
}
.ship-placeholder:hover img{
filter: brightness(1) sepia(0);
-webkit-filter: brightness(1) sepia(0);
}
*/
.ship-placeholder .more-content{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    padding: 140px 60px;
}
.ship-placeholder .more-content a{
    color: white;
    text-decoration: none;
}
.ship-placeholder .more-content h2{
    font-size: 42px;
    margin-bottom: 18px;
}
.ship-placeholder .more-content .ship-slogan{
    text-transform: uppercase;
    font-size: 20px;
}
.ship-placeholder .more-content .offers-and-news-hover-separator{
    width: 15%;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}
.ship-placeholder .more-content .home-ship-btn{
    padding: 18px 20px;
    color: #008EA1;
    background: rgba(0, 0, 0, 0.7);
    transition: all ease-in .2s;
    margin-top: 18px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
}
.ship-placeholder .more-content .home-ship-btn:hover{
    color: orange;
    background: rgba(0, 0, 0, 1);
}
/* FOOTER SECTION */
.footer-section
/*----------------*/
.footer-top-bar-link{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .ships .container-fluid{
        padding: 0;
    }
    .ship-placeholder{
        height: auto;
    }
    .ship-placeholder img{
        filter: none;
    }
}
/*-------------*/
/* ____RESPONSIVE PARA PANTALLAS WIDESCREEN___ */
@media screen and (min-height: 600px) and (max-height: 769px){
    /* HOME HERO SECTION */
    .home-hero-title{
        margin-top: 40vh;
        font-size: 60px;
    }
    .home-hero-slogan{
        font-size: 24px;
    }
    .filter-transparent-box{
        padding: 20px 40px;
        margin-top: 36px;
    }
    /* HOME OFFERS AND NEWS SECTION */
    .offers-and-news .carousel .alter-title{
        padding-top: 65vh;
        font-size: 36px
    }
    .gg-post-type .more-content{
        padding: 60px;
        padding-top: 62vh;
        font-size: 12px;
    }
    .gg-post-type .more-content h2{
        font-size: 36px
    }
    .offers-and-news-hover-separator{
        margin: 12px 0;
    }
    .home-blog-article .alter-title{
        padding-top: 60%;
        font-size: 18px;
        margin-left: 20px;
        max-width: 280px;
        padding-right: 50px;
    }
    .home-blog-article .more-content{
        padding: 20px;
        padding-top: 20px;
        font-size: 12px;
    }
    .home-blog-article .more-content.lower-post .say-blog{
        margin-top: 20px;
    }
    .home-blog-article .more-content h2{
        font-size: 18px;
    }
}
@media screen and (max-width: 767px) and (orientation: portrait){
    .get-in-love-mask{
        height: 100vh;
    }
    .home-get-in-love-title{
        font-size: 28px;
        max-width: 80vw;
    }
    .home-get-in-love-separator{
        margin: 18px auto;
    }
    .home-get-in-love-paragraph{
        max-width: 80vw;
        font-size: 18px;

    }
    .get-in-love-controls ul{
        padding: 0px;
    }
    .get-in-love-controls ul li span{
        margin-right: 26px;
    }
    .get-in-love-controls ul li:last-child span{
        margin-right: 0px;
    }
    .get-in-love-controls ul li span:after{
        width: 30px;
    }
    .alter-title{
        display: none;
    }
    .gg-post-type{
        position: absolute;
        bottom: 0px;
        height: 50vh;
    }
    .gg-post-type .more-content{
        position: absolute;
        width: 100vw;
        transform: translateX(0);
        height: auto;
        bottom: 0;
        padding: 20px;
        background: none;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    }
    .home-blog-article{
        width: auto;
        padding: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .home-blog-article .more-content{
        position: relative;
        margin: auto;
        background: none;
        width: 100vw;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
        padding: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .gg-post-type .more-content h2{
        font-size: 28px;
    }
    .home-blog-article .more-content.upper-post,.home-blog-article .more-content.lower-post{
        transform: translateY(0);
    }
    .say-blog{
        margin-top: 20px;
    }
    .ship-placeholder{
        height: 48vh;
        padding: 0px;
    }
    .ship-placeholder:first-child{
        margin-bottom: 4vh;
    }
    .ship-placeholder img{
        filter: none;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .ship-placeholder .more-content{
        padding: 40px;
        margin-top: 36px;
    }
    .ship-placeholder .more-content h2{
        font-size: 32px;
        margin-bottom: 9px;
    }
    .ship-placeholder .more-content .ship-slogan{
        font-size: 16px;
    }
    .footer-section h4{
        margin-top: 36px;
    }
    .social-media-icons{
        margin: 36px 0;
    }
    .orgs-logos h2{
        font-size: 18px;
        margin-bottom: 36px;
    }
    .orgs-logos img{
        margin-bottom: 20px;
        max-width: 80px;
    }
}
@media screen and (max-width: 480px){
    .home-hero-title{
        margin-top: 10vh;
    }
    .hero-mobile-request-btn{
        background: #E0801C;
        color: white;
        text-transform: uppercase;
        text-align: center;
        border-radius: 0;
        border: none;
        padding: 14px 17px;
    }
}
.separator.statistics{
    max-width: 100px;
    margin: 8px auto;
    opacity: .5;
}
.statistics{
    margin: 48px auto;
}
.statistics .fa{
    color: #EFB400;
}
.statistic-value{
    color: white!important;
    margin: 36px auto;
    font-size: 60px!important;
}
.counters{
    position: relative; 
    display: flex; 
    align-items: center; 
    justify-content: center;     
    background-size: cover; 
    background-position: 0% 70%; 
    min-height: 65vh;
}
.counter-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: all ease-out .3s;
}
.counters .counter-name{
    color: white;
    font-size: 18px;
    display: inline-block;
    margin: 0 auto;
}