/* CSS PARA BARCOS */
/* alter navigation */
.ship-alter-navbar{
    display: block;
    transition: all ease-in .2s;
    background: #42403c;
    *height: 85px;
    position: absolute;
    width: 100%;
    z-index: 999;
    transform: translateY(-150px);
    transition: transform ease-in .2s;
}
.ship-alter-navbar.active{
    transform: translateY(0px);
    transition: transform ease-in .8s;
}
.ship-navbar-items{
    display: flex;
    align-content: space-between;
    margin: 0;
}
.ship-navbar-items li{
    height: 60px;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 1px solid black;
    padding: 0px;
    text-align: center;
    width: 100%;
    background: white;
}
.ship-navbar-items li:first-child{
    max-width: 90px;
    background: #42403C;
}
.ship-navbar-items li:last-child{
    border-right: none;
    max-width: 150px;
    background: #42403C;
}
.ship-navbar-items li.active{
    background: #ed9016;
}
.ship-navbar-items li.active a{
    color: white;
    font-weight: bold;
}
.navTrigger-ship{
    margin: auto;
    padding: 0px 18px;
    cursor: pointer;
}
.ship-navbar-items li a{
    color: #42403c;
    font-size: 16px;
    text-align: center;
    margin: auto;
}
.ship-navbar-items li:last-child a{
    text-align: center;
    display: inline-block;
}
.ship-alter-navbar a:hover,.ship-alter-navbar a:focus{
    text-decoration: none;
    color: #ed9016;
    cursor: pointer;
}
.ship-alter-navbar .plan-your-trip-btn{
    color: #ed9016;
}
.experience-video-placeholder{
    height: 100vh;
    width: 100%;
    background: red;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.experience-video-placeholder *{
    height: auto;
    width: 100%;
}
/*----- SOCIAL AREAS -----*/
.container-social-area{
    max-width: 80%;
    margin: 0 auto;
}
.socialareas,.cabins{
    position: relative;
}
.prevSlide,.nextSlide{
    position: absolute;
    color: white;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 60px;
    background: rgba(51, 51, 51, 0.7);
    top: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 9;
}
.prevSlide{
    left: 18px;
}
.nextSlide{
    right: 18px;
}
.prevSlide span, .nextSlide span{
    display: block;
    margin: auto;
}
.socialarea .separator{
    margin: 24px auto;
    border-color: black;
    box-shadow: none;
}
.social-area-description{
    line-height: 18px;
    margin-bottom: 36px;
}
.socialarea-thumbnmails{
    padding-bottom: 80px;
}
.first-template-social-area-image{
    height: 58vh;
    overflow: hidden;
    margin-bottom: 80px;
    position: relative;
}
.first-template-social-area-image >img{
    position: absolute;
    top: 0;
    left: 50%;
    max-width: fit-content;
    height: 100%;
    transform: translateX(-50%);
}
/*------------------------*/
/*--- CABINS ---*/
/*.cabins .prevSlide, .cabins .nextSlide{
    position: absolute;
    color: #8a8a8a;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 60px;
    background: transparent;
    top: 10%;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 9;
    font-size: 48px;
}*/
.element-title{
    margin-top: 100px;
}
.cabin-profile-container{
    position: relative;
}
.cabin-profile-container .separator{
    margin: 24px auto;
    border-color: black;
    box-shadow: none;
}
.cabin-description-placeholder{
    border: 2px solid #9f9f9f;
    padding: 45px 30px;
    margin-bottom: 72px;
    position: relative;
}
.cabin-thumbnail-placeholder{
    overflow: hidden;
    position: relative;
}
.cabin-thumbnail-placeholder, .cabin-description-placeholder{
    height: 65vh;
}
.cabin-thumbnail{
    position: absolute;
    width: 100%;
}
.btn-cabin-modal,.btn-cabin-modal:hover{
    padding: 14px 17px;
    background: #43403b;
    color: white;
    border-radius: 0;
    margin-right: 26px;
    display: inline-block;
}
.btn-cabin-request,.btn-cabin-request:hover{
    padding: 14px 17px;
    background: #f58903;
    color: white;
    position: absolute;
    bottom: 30px;
    border-radius: 0;
}
.info-container{
    position: relative;
    max-width: 90%;
}
.cabin-floor-location-placeholder{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.95);
    transform: translateX(0);
    position: absolute;
    top: 0;
    left: 0;
    transition: all ease-in .2s;
}
.cabin-floor-location-placeholder.hidden{
    transform: translateX(-2000px);
}
.cabin-floor-location-placeholder img{
    margin: auto;
    max-width: 50vw;
    height: auto;
}
.close-cabin-placeholder{
    position: absolute;
    top: 20%;
    right: 180px;
    display: block;
    padding: 10px 12px;
    color: #565656;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    cursor: pointer;
}
#virtualtour{
    display: none;
}
.moreinfo .separator{
    margin: 18px auto;
    margin-bottom: 72px;
    border-bottom-color: #242424;
    box-shadow: none;
}
.deck-plan-title{
    margin-top: 72px;
}
.tabpanel{
    padding-bottom: 120px;
}
.nav-tabs{
    border: none;
    margin-bottom: 12px;
}
.nav-tabs>li>a{
    background-color: #FAFAFA;  
    margin: 0px;
}
.nav-tabs>li.activa a{
    background-color: #636363;
    color: white;
}
.nav-tabs>li>a{
    border-radius: 0px;
    border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
        color: #d8d8d8;
    cursor: pointer;
    background-color: #2b2b2b;
}
dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}
dt {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0;
    text-align: right;
    padding-right: 36px;
}
dd {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0
}
.deckplan-img{
    margin: 0 auto;
}
.middle-fold{
    background-position: center top; 
    background-size: cover; 
    min-height: 55vh; 
    margin-bottom: 0; 
    color: white; 
    position: relative;
}
.lower-fold{
    padding-top: 18px;
    *background: red;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 45vh;
}
.fold-text{
    font-size: 18px;
}
@media screen and (min-width: 1400px){
    .cabin-thumbnail-placeholder, .cabin-description-placeholder{
        height: 70vh;
    }
    .cabin-description-placeholder{
        padding: 90px 60px;
        margin-bottom: 100px;
    }
    .btn-cabin-modal,.btn-cabin-modal:hover{
        margin: 36px 0;
        margin-right: 26px;
    }
}
@media screen and (max-height: 768px){
    .middle-fold{    
        min-height: 48vh; 
    }
    .lower-fold{
        min-height: 52vh;
    }
    .fold-text{
        font-size: 14px;
    }
    .footer-background{
        height: auto;
        background: none;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .orgs-logos h2{
        margin-top: 36px;
        margin-bottom: 36px;
        font-size: 28px;
    }
    .orgs-logos img{
        margin-bottom: 26px;
        max-width: 120px;
    }
    .first-template-social-area-image{
        margin-bottom: 0px;
    }
    .social-area-description{
        margin-bottom: 18px;
        font-size: 14px;
    }
    .element-title{
        margin-top: 80px;
    }
    .cabin-description-placeholder{
        margin-bottom: 0px;
    }
    .cabin-description-placeholder ul{
        max-height: 220px;
        overflow: auto;
    }
    .cabins .prevSlide, .cabins .nextSlide{
        top: 15%;
    }
    .moreinfo .separator{
        margin-bottom: 18px;
    }
    .tabpanel{
        padding-bottom: 0px;
    }
    .tab-content img{
        max-width: 90%;
    }
    .cabin-thumbnail1{
        bottom: calc(-65vh / 6);
    }
}
@media screen and (max-width: 800px) and (orientation: portrait){
    .experience-video-placeholder *{
        height: auto;
        width: auto;
    }
}
/* responsive para movibles hasta 480 px Retrato */
@media screen and (max-width: 500px) and (orientation: portrait){
    .element-title{
        font-size: 24px;
    }
    .first-template-social-area-image{
        height: 40vh;
    }
    .social-area-description{
        font-size: 16px;
        line-height: 1.5;
    }
}