.ship-itinerary-title{
    margin-top: 100px;
}
.single-thumbnail-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.single-thumbnail-container img{
    height: auto;
    width: 100%;
}
.itinerary-hero{
    color: white;
    overflow: hidden;
}
.itinerary-title{
    margin: 0px;
}
.itinerary-hero .separator{
    margin: 18px auto;
}
.itinerary-ship-owner{
    display: block;
    margin-top: 120px;
}
.itinerary-hero .scroll-indicator{
    margin: 0 auto;
}
.ship-itinerary .separator{
    border-bottom: 2px solid #191919;
    width: 5%;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 18px;
    float: left;
}
.itinerary-ship-description{
    font-size: 24px;
}
.explore-the-ship-link{
    color: #ffac00;
    display: block;
}
.explore-the-ship-link, .itinerary-check-departure-dates{
    font-size: 36px;
}
.itinerary-route-title{
    margin-top: 36px;
}
/* Itineraries carousel */
.carousel-container{
    padding: 18px;
    background: #3b4a5c;
}
.control-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 150px;
}
.carousel-control{
    position: relative;
    margin: auto;
}
.ship-itineraries-carousel-controls{
    position: absolute;
    top: 0;
    right: 20px;
    width: 60px;
    height: 30px;
}
.ship-itineraries-carousel-controls .itinerary-control{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #42403c;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    opacity: 1;
}

/*----------------------*/

.hero-items-controls{
    margin-top: 20vh;
}
.itinerary-duration{
    line-height: 14px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
}
.itineraries-day-by-day{
    padding-left: 36px;
    /*-webkit-transform: translateY(-50px);
    transform: translateY(-50px);*/
}
.itinerary-a{
    color: #dd2e89;
}
.itinerary-b{
    color: #e67424;
}
.itinerary-c{
    color: #6960a8;
}
.itinerary-d{
    color: #52bbb0;
}
.itineraries-day-by-day-list{
    list-style: none;
    padding: 0px;
}
.day-name{
    margin: 0px;
    font-weight: bold;
    margin-top: 36px;
}
.itinerary-plan-your-trip-btn{
    padding: 14px 17px;
    background: #ff9626;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    display: table;
    margin-top: 80px;
    margin-bottom: 36px;
}
.itinerary-plan-your-trip-btn:hover{
    text-decoration: none;
}
.view-itinerary-btn{
    color: black;
}
.gmap-itineary{
    height: 60vh;
}
.animal-placeholder{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.animal-name-placeholder{
    position: absolute;
    bottom: 0;
    padding: 8px;
    background: rgba(46, 46, 46, 0.7);
    width: auto;
    font-size: 14px;
    color: white;
}
/*---- SINGLE ITINERARIES ----*/
.darker{
    background-color: #F6F4F5;
}
.day-placeholder{
    width: 100%;
    padding: 60px 36px;
    height: 98vh;
    overflow-y:auto;
}
.more-items-slider{
    background: #161616;
}
.single-more-island-section-title{
    font-size: 60px;
    margin: 36px;
    color: white;
}
.single-carousel-islands{
    max-height: 75vh;
    overflow: hidden;
}
.more-items-slider .rear-slider-controllers{
    position: relative;
    margin-top: 36px;
    left: 0;
    bottom: 0;
}
.more-islands{
    position: relative;
}
.more-islands img{
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
}
.more-island-caption{
    position: absolute;
    bottom: 50vh;
    left: 60px;
    max-width: 300px;
    z-index: 999;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.more-island-title{
    color: white;
}
.view-more-about-this-island-link{
    color: #ffcc00;
    text-decoration: underline;
}
.day-image-placeholder{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center; 
    height: 100vh;
    overflow: hidden;
}
.day-image-placeholder img{
    margin: auto; 
    height: auto; 
    width: 100%;
}


/*---- MEDIA QUERIES ----*/
/* PARA MONITORES BAJOS */
@media screen and (max-height: 768px){
    .itinerary-ship-description{
        font-size: 16px;
    }
    .explore-the-ship-link, .itinerary-check-departure-dates{
        font-size: 28px;
    }
    .hero-items-controls{
        margin-top: 10vh;
    }
    .gmap-itineary{
        height: 48vh;
    }
    .itinerary-duration{
        margin-bottom: 20px;
        font-size: 16px;
    }
    .day-name{
        margin-top: 0px;
    }
    .itinerary-plan-your-trip-btn{
        margin-top: 20px;
        margin-bottom: 18px;
    }
}
@media screen and (max-width: 480px){
    .explore-the-ship-link, .itinerary-check-departure-dates{
        font-size: 22px;
    }
    .itinerary-route-title{
        font-size: 22px;
    }
    .itineraries-day-by-day{
        padding: 15px;
    }
    .view-itinerary-btn{
        display: block;
        text-align: center;
    }
    .itinerary-plan-your-trip-btn, .view-itinerary-btn{
        margin: 18px auto;
    }
    .single-thumbnail-container img{
        height: inherit;
        width: auto;
    }
}